<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="icon" type="image/png" href="../src/images/blog_logo.png">
    <link href="../src/styles/global.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&family=Sora:wght@400;500&display=swap"
        rel="stylesheet">
</head>

<body class="bg-bg_signup">
    <section class="bg-bg_signup h-max flex items-center justify-center py-5">
        <main class="w-11/12 flex flex-col gap-20 font-sora">
            <a href="/" class="w-fit px-5 py-2 bg-my_blue text-white rounded-lg">Back</a>
            <% blogs.forEach(function(blog, i) { %>
                <section class="flex flex-col gap-10">
                    <h1 class="text-5xl font-playpen capitalize"><%= blog.title%></h1>
                    <span class="flex justify-between">
                        <p class="capitalize">By <%= blog.author%></p>
                        <p>Time Stamp | <%= blog.readTime%> read</p>
                    </span>
                    <p><%= blog.body%></p>
                    <span class="flex gap-5">
                        <% for (let i=0; i < blog.tags.length; i++) { %>
                            <p class="bg-my_blue py-2 px-5 rounded-full text-white w-fit capitalize">
                                <%= blog.tags[i] %>
                            </p>
                            <% } %>
                    </span>
                    <span class="flex justify-between">
                        <p class="capitalize">Views</p>
                        <p class="capitalize"><%= blog.state%></p>
                    </span>
                </section>
            <% }); %>
        </main>
    </section>
</body>

</html>